<div class="mdui-typo" style="text-align: center;margin: auto;" xmlns:th="http://www.w3.org/1999/xhtml">
	<p style="font-size: 48px;margin-top: 50px;font-weight: 300;">Fay <span style="color: #6c757d!important;    line-height: 1.2;">for WebSite</span></p>
	<img class="mdui-img-circle" style="width: 120px;height: 120px;border-radius: 0%;"  th:src="@{/img/Fay.png}"/>
	<h5 style="font-size: 0.90rem;color: #6c757d!important;">I want to see more of the world.</h5>
	<h5 style="font-size: 0.90rem;color: #6c757d!important;">本程序开发者QQ2420498526.</h5>
	<button class="mdui-btn mdui-color-theme-accentmdui-ripple" style="color:floralwhite;background: #001311;"><i class="fa fa-github"></i>Github</button>
	<button class="mdui-btn mdui-color-theme-accentmdui-ripple" style="color:floralwhite;background: #00C851;"><i class="fa fa-code"></i>website</button>
	<button class="mdui-btn mdui-color-theme-accentmdui-ripple" style="color:floralwhite;background: #448aff;"><i class="fa fa-facebook-square"></i>Facebook</button>
</div>