<!DOCTYPE html>
<div class="mdui-typo">
  <h6 style="font-size: 30px;">
	  <i class="mdui-icon material-icons">&#xe2c4;</i>连接工具</h6>
</div>
<div class="mdui-table-fluid">
	<table class="mdui-table">
		<thead>
			<tr>

				<th colspan="3">更新时间：2018-12-18 10:03:05</th>
			</tr>
		</thead>
		<tbody>
			<!-- <tr>

				<td>111@applo.club</td>
				<td><button class="mdui-btn mdui-btn-dense mdui-color-theme-accent mdui-ripple" style="color:floralwhite;background: #448aff;" mdui-dialog="{target: '#example-4'}">修 改</button></td>
				<td><button class="mdui-btn mdui-btn-dense mdui-color-theme-accent mdui-ripple" style="color:floralwhite;background: #f30909;" onclick="deluser('111@applo.club')">删 除</button></td>
			</tr> -->
			<tr>

				<td>
					<i class="mdui-icon material-icons">&#xe30c;</i>
					Windows客户端:</td>
				<td style="color: green;">
					<a class="mdui-btn mdui-btn-raised" style="color:floralwhite;background: #448aff;" href="https://raw.githubusercontent.com/Jigsaw-Code/outline-releases/master/client/stable/Outline-Client.exe" target="_blank">
						<i class="mdui-icon material-icons">&#xe2c4;</i>
						</a>
				</td>
			</tr>
			<tr>

				<td>
					<i class="mdui-icon material-icons">&#xe30b;</i>
					Mac OS客户端:</td>
				<td style="color: red;">
					<a class="mdui-btn mdui-btn-raised" style="color:floralwhite;background: #448aff;" href="https://itunes.apple.com/us/app/outline-app/id1356178125" target="_blank">
						<i class="mdui-icon material-icons">&#xe2c4;</i>
						</a>
				</td>
			</tr>
			<tr>
				<td>
					<i class="mdui-icon material-icons">&#xe859;</i>
					Android客户端:</td>
				<td style="color: blue;">
					<a class="mdui-btn mdui-btn-raised" style="color:floralwhite;background: #448aff;" href="https://play.google.com/store/apps/details?id=org.outline.android.client" target="_blank">
						<i class="mdui-icon material-icons">&#xe2c4;</i>
						</a>
				</td>
			</tr>
			<tr>
				<td>
					<i class="mdui-icon material-icons">&#xe325;</i>
					IOS 客户端:</td>
				<td style="color: dodgerblue;">
					
					<a class="mdui-btn mdui-btn-raised" style="color:floralwhite;background: red;" href="https://itunes.apple.com/us/app/outline-app/id1356178125" target="_blank">
						<i class="mdui-icon material-icons">&#xe2c4;</i>
						</a>
				</td>
			</tr>
			<tr>
				<td>
					<i class="mdui-icon material-icons">&#xe2bf;</i>
					节点负载:</td>
				<td style="color:dodgerblue;">60%</td>
			</tr>
			<tr>
				<td>
					<i class="mdui-icon material-icons">&#xe2c0;</i>
					下载速度:</td>
				<td style="color:dodgerblue;">30mb</td>
			</tr>
		</tbody>
	</table>
</div>