<!DOCTYPE html>
<div class="mdui-typo">
	<h6 style="font-size: 30px;">用户状态</h6>
</div>
<div class="mdui-table-fluid">
	<table class="mdui-table">

	</table>
	<!--<tr>-->
	<!--<td>-->
	<!--<i class="mdui-icon material-icons">&#xe2bf;</i>-->
	<!--节点负载:</td>-->
	<!--<td style="color:dodgerblue;">60%</td>-->
	<!--</tr>-->
	<!--<tr>-->
	<!--<td>-->
	<!--<i class="mdui-icon material-icons">&#xe2c0;</i>-->
	<!--下载速度:</td>-->
	<!--<td style="color:dodgerblue;">30mb</td>-->
	<!--</tr>-->
</div>


<a class="mdui-btn mdui-btn-raised" style="color:floralwhite;background: #448aff;" href="https://fast.com/zh/cn/" target="_blank">
	<i class="mdui-icon material-icons">&#xe2c4;</i>
	外部测速</a>
